* {
    box-sizing: border-box;
  }

head{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.h{
    background-color: #4aaaa5;
    width:50%;
}
h1{
}

header{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;

}

.background-image {
    background-image: url("../images/doodles.png");
    width:100%;
    height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
  }

.name{
    float:left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
    width:25%;
    height:70px;
    text-align: center;
    vertical-align: middle;
    padding-top:20px;
    padding-bottom:-20px;
}

.nav{
    float:right;
}

.content{
    width:960px;
    align-content: center;
}
.main{
    width:960px;
    align-content: center;

}
.float-left{
    float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  
  li a {
    display: block;
    color: #cccccc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#ffffff;
  }
  
  footer{
      width:960px;
      height:40px;
      padding-top:10px;
      padding-bottom:20px;
      margin-bottom:20px;
      position: absolute;
      bottom:0;
      text-align: center;
      background-color:#666666;
      color: #ffffff;
      border-top: 8px solid #4aaaa5;
  }